<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f -> %>
    <div class="form-group">
        <%= text_input f, :title, placeholer: "Title", class: "form-control" %>
        <%= error_tag f, :title %>
    </div>

    <%= submit "Save topic", class: "btn btn-primary" %>
<% end %>