<h5>All topics: </h5>

<ul class="collection">
    <%= for topic <- @topics do %>
        <li class="collection-item">
            <%= link topic.title, to: topic_path(@conn, :show, topic) %>

            <%= if @conn.assigns.user  do %>
                <%= if @conn.assigns.user.id == topic.user_id do %>
                    <div class="right">
                        <%= link to: topic_path(@conn, :edit, topic), class: "waves-effect waves-light" do %>
                            <i class="material-icons">create</i>
                        <%end%>
                        <%= link to: topic_path(@conn, :delete, topic), class: "waves-effect waves-light", method: :delete do %>
                            <i class="material-icons">delete</i>
                        <%end%>
                    </div>
                <% end %>
            <% end %>
        </li>
    <% end %>
</ul>

<%= if @conn.assigns.user  do %>
    <div class="fixed-action-btn">
        <%= link to: topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
            <i class="material-icons">add</i>
        <% end %>
    </div>
<% end %>

