<h5><%= @topic.title %></h5>

<div class="input-field">
  <%= if @conn.assigns.user do %>
    <textarea class="materialize-textarea"></textarea>
    <button class="btn">Add comment</button>
  <% end %>
  <ul class="collection">
  
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @topic.id %>);
  });
</script>