/* This file is for your main application css. */

.help-block {
    color: #ff3f3f;
    font-size: 13px;
    position: absolute;
    top: 35px;
    padding: 5px;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.alert {
    margin-top: 1rem;
}